<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/vini.jpg" alt="Vini" style="width:50%">
      <div class="container">
        <h2>Vinícius</h2>
        <p class="title">DEV</p>
        <p>Resolvendo problemas sempre!</p>
        <p>vini.cerqueira12@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/vini.jpg" alt="Vini" style="width:50%">
      <div class="container">
        <h2>Vinícius</h2>
        <p class="title">DEV</p>
        <p>Resolvendo problemas sempre!</p>
        <p>vini.cerqueira12@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/vini.jpg" alt="Vini" style="width:50%">
      <div class="container">
        <h2>Vinícius</h2>
        <p class="title">DEV</p>
        <p>Resolvendo problemas sempre!</p>
        <p>vini.cerqueira12@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/vini.jpg" alt="Vini" style="width:50%">
      <div class="container">
        <h2>Vinícius</h2>
        <p class="title">DEV</p>
        <p>Resolvendo problemas sempre!</p>
        <p>vini.cerqueira12@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="assets/vini.jpg" alt="Vini" style="width:50%">
      <div class="container">
        <h2>Vinícius</h2>
        <p class="title">DEV</p>
        <p>Resolvendo problemas sempre!</p>
        <p>vini.cerqueira12@gmail.com</p>
      </div>
    </div>
  </div>
  
</div>