<div class="row">
  <div class="col s12 m5">
    <div class="card-panel red">
      <div class="row">
        <span class="white-text">Perigo Eminente
        </span>
      </div>
      <div class="row">
        <span class="white-text">30
        </span>
      </div>
    </div>
  </div>
  <div class="col s12 m5">
    <div class="card-panel teal">
      <div class="row">
        <span class="white-text">Solicitações Totais
        </span>
      </div>
      <div class="row">
        <span class="white-text">30
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <app-map></app-map>
</div>